<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#collapsable-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Song Identifier</a>
        </div>
        <div class="collapse navbar-collapse" id="collapsable-nav">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/matched/">Matched Tracks</a></li>
                <li><a href="/unmatched/">Unmatched Tracks</a></li>
                <li><a href="#">Purge Duplicate Uploads</a></li>
            </ul>
        </div>
    </div>
</nav>