{% extends "base.html" %}

{% block content %}
    <form method="post" action="." id="uploader" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="input_file" name="input_file" multiple />
        <br />
        <input type="submit" />
    </form>

    {% if uploaded %}
        <h2>Uploaded Files / Codes</h2>
        <ul>
            {% for f in uploaded %}
                <li>{{ f.filename }}
                    {% if f.match %}- <a href="{{ f.solr_url }}" target="_blank">{{ f.track_id }}</a>{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if rejected %}
        <h2>Rejected Files</h2>
        <ul>
        {% for f in rejected %}
            <li>{{ f.name }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}